html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #424242;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
}

.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.thumbnail {
  border: none !important;
}

.thumbnail > img{
  height:100px;
  width: 100px;
}

.thumbnail h3 {
  font-size: 18px;
}

.logo {
  width:75px;
  height: 75px;
}

.btn-default{
  border-radius: 24px;
}

.btn-xlg{
  font-size:28px;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 3px;
  width:345px;
  color:#7e7e7e;
}

.tw-blue{
  background-color: #80D8FF;
}

.tw-blue:hover {
    background-color: ##00B0FF !important;
}

.tw-title {
  color: white;
  font-weight: bold;
}

.tw-chevron-down {
  font-size: 70px;
  color: white;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(21, 21, 25, 0.64);
  z-index: 0;
  opacity: 0.5;
}

p {
  font-size: 16px;
  color: #7e7e7e;
}

.list {
  text-align: justify;
  margin-bottom: 0.5em;
  font-size: 16px;
  color: #7e7e7e;
}

.insideList {
  text-align: justify;
  margin-bottom: 0.5em;
  font-size: 14px;
  color: #7e7e7e;
}


.bottom-align-text {
  position: absolute;
  bottom: 150px;
  right: 0;
}

.big_white {
  color: #FFF;
  font-size: 140px;
  font-size: 8vw;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.tw-map{
    border: 0;
}

footer {
  background-color: #424242;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}