.thumbnail {
  border: none !important;
}

.thumbnail > img{
  height:100px;
  width: 100px;
}

.thumbnail h3 {
  font-size: 18px;
}

.logo {
  width:75px;
  height: 75px;
}

.btn-default{
  border-radius: 24px;
}

.btn-xlg{
  width: 500px;
  height: 100px;
}